{{ partial "header.html" . }}
<main id="site-main" class="site-main">
    <div class="main-content main-bg">
        <div class="post-head main-bg space--center">
            <div class="container">
                <header class="post-header is-center">
                    <h2 class="post-title">{{ .Title }}</h2>
                </header>
            </div>
        </div>
        <div class="content-area single-post main-bg container space--center">
            <div class="clearfix">
                <div class="col-1-2">
                    <div class="confirmation-detail">
                        <p>Untuk melakukan konfirmasi pembayaran, silahkan masukkan semua data pada form berikut ini. Kami segera akan memproses order Anda, setelah Anda melakukan konfirmasi pembayaran.</p>
                        <p>Silahkan melakukan pembayaran dengan melakukan tranfer ke rekening Bank berikut:</p>
                        <div class="confirmation-detail__box">
                            {{ if $.Site.Params.rekening_1 }}
                            <p class="confirmation-detail__rek"><b>{{ .Site.Params.rekening_1 }}</b></p>
                            {{ end }} 
                            {{ if $.Site.Params.rekening_2 }}
                            <p class="confirmation-detail__rek"><b>{{ .Site.Params.rekening_2 }}</b></p>
                            {{ end }} 
                        </div>
                        <p>Atau silakan konfirmasi pembayaran Anda melalui SMS/WA dengan format pesan seperti berikut:</p>
                        <div class="confirmation-detail__box">
                            <p>Konfirmasi#Nama#NominalTransfer#NamaRekening#Nomor-Rekening#BankTujuan</p>
                            <p>Contoh: Konfirmasi#Luthfi#Rp.276.056#LuthfiMakin#37776789899#Bank-Mandiri</p>
                        </div>
                        <div class="confirmation-detail__tips">
                            <p><b>Tips:</b> Mohon untuk menambahkan 2 angka unik dibelakang nominal transfer pembayaran Anda untuk memudahkan pengecekan kami.</p>
                            <p>Contoh: Jumlah harga barang + ongkir Anda= Rp. 276.000, sehingga nominal yang harus Anda transfer menjadi Rp. 276.056.</p>
                        </div>
                    </div>
                </div>
                <div class="col-1-2">
                    <div class="order-form confirmation-form">
                        <form action="https://formspree.io/luthfi.makin@gmail.com" name="order" method="POST" netlify>
                        <div class="order-form__group clearfix">
                            <div class="form-group col-1-2">
                                <label for="name">Nama Anda<span class="publii_must">*</span></label>
                                <input type="text" class="form-control" id="name" name="Nama" placeholder="Nama Anda" required="">
                            </div>
                            <div class="form-group col-1-2">
                                <label for="name">Nominal Transfer<span class="publii_must">*</span></label>
                                <input type="text" class="form-control" id="nominal" name="Nominal" placeholder="Nominal yang Anda Transfer" required="">
                            </div>
                        </div>
                        <div class="order-form__group clearfix">
                            <div class="form-group col-1-2">
                                <label for="name">Nama Rekening<span class="publii_must">*</span></label>
                                <input type="text" class="form-control" id="provinsi" name="Nama Rekening" placeholder="Nama pada Rekening Anda" required="">
                            </div>
                            <div class="form-group col-1-2">
                                <label for="name">No. Rekening<span class="publii_must">*</span></label>
                                <input type="text" class="form-control" id="kota" name="Nomor Rekening" placeholder="Nomor pada Rekening Anda" required="">
                            </div>
                        </div>
                        <div class="order-form__group space--bottom">
                            <div class="form-group">
                                <label for="rekening">Transfer Bank Via<span class="publii_must">*</span></label>
                                <select class="form-control select2-hidden-accessible" id="rekening" name="Bank" required="" data-placeholder="Pilih No Rekening Tujuan" tabindex="1" aria-hidden="true">
                                    <option value="">Pilih Bank Tujuan</option>
                                    <option value="Bank Mandiri">Bank Mandiri a.n Akhlis Mujtahid</option>
                                    <option value="Bank BRI">Bank BRI a.n Akhlis Mujtahid</option>
                                </select>
                            </div>
                       </div>
                       <div class="order-form__group">
                            <div class="form-group">
                                <label for="info">Info Tambahan</label>
                                <textarea class="form-control" id="alamat" name="Info" rows="3" placeholder="Informasi Tambahan" required=""></textarea>
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="_next" value="/"/>
                            </div>
                       </div>

                        <div class="tren-button"><button class="button space--center success-bg button--right" type="submit" value="Send"><i class="icon-ok icon--small"></i> Konfirmasi</button></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="confirmation-box clearfix space--center">
                <div class="col-1-3 confirmation-step">
                    <span class="publii-step__icon"><i class="icon-mail"></i></span>
                    <h4>Step1. Cek Inbox Email/WA Anda</h4>
                    <p>Kami sudah mengirimkan detail order Anda dan informasi nomor rekening kami melalui E-mail/WA yang Anda gunakan pada halaman order sebelumnya. Silahkan cek inbox Anda, jika tidak ada mohon cek juga bagian spam folder Anda.</p>
                </div>
                <div class="col-1-3 confirmation-step">
                    <span class="publii-step__icon"><i class="icon-credit-card"></i></span>
                    <h4>Step2. Segera Lakukan Pembayaran</h4>
                    <p>Segera lakukan pembayaran dalam jangka waktu maksimal 1x24 jam setelah Anda menerima konfirmasi email/WA dari CS kami, jika Anda gagal melakukan pembayaran dalam 1x24 jam maka pesanan ini secara otomatis dibatalkan dan Anda harus melakukan order kembali.</p>
                </div>
                <div class="col-1-3 confirmation-step">
                    <span class="publii-step__icon"><i class="icon-whatsapp"></i></span>
                    <h4>Step3. Konfirmasikan Pembayaran Anda</h4>
                    <p>Setelah melakukan pembayaran, segera konfirmasikan pembayaran Anda melalui WA atau mengisi form konfirmasi pada halaman konfirmasi ini agar pesanan Anda dapat segera diproses dan dikirimkan ke rumah Anda.</p>
                </div>
            </div>
        </div>
    </div>
</main>
{{ partial "footer.html" . }}