<section class="sidebar-widget">
    <div class="widget-product__recent">
       <div class="widget-product__header">
           <h3 class="widget-product__title widget-title__line">Recent Product</h3>
       </div>
        {{ range $key, $taxonomy := .Site.Taxonomies.recent }}
        {{ range $taxonomy.Pages }}
        <div class="widget-product__recent-content clearfix">
            <div class="widget-product__recent-image">
                <a class="widget-product__recent-link" href="{{ .Permalink }}">
                    {{ if .Params.image_1 }}
                    <img src="{{ .Params.image_1 | relURL }}" alt="{{ .Title }}" width="68" height="68"/>
                    {{ end }}
                </a>
            </div>  
            <div class="widget-product__recent-info">
                <a class="widget-product__recent-link" href="{{ .Permalink}}"><h3 class="widget-product__recent-title">{{ .Title }}</h3></a>
                {{ if .Params.price }}
                <p class="widget-product__recent-price"><b>{{ .Params.price }}</b></p>
                {{ end }}
            </div>
        </div>
        {{ end }} 
        {{ end }}  
    </div>
</section>