{{ if $.Site.Data.theme.widgets.widget_tags | default true }}
{{ if isset .Site.Taxonomies "tags" }}
{{ if not (eq (len .Site.Taxonomies.tags) 0) }}
<section class="sidebar-widget">
    <div class="widget-tags">
        <div class="widget-header">
            <h3 class="widget-title widget-title__line">Tags</h3>
        </div>
        <div class="widget-content widget-tags__list">
            <ul class="widget-tags__items">
                {{ range $name, $items := .Site.Taxonomies.tags }}
                <li class="widget-tags__item"><a href="{{ "tags/" | relLangURL }}{{ $name | urlize | lower }}" title="{{ $name }}" class="tag-link">{{ $name }}</a> {{ if $.Site.Data.theme.widgets.tags_counter }}({{ $items.Count }}){{ end }}</li>
                {{ end }}
            </ul>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}



