/* Site Footer
/* ---------------------------------------------------------- */

/*widget footer*/
.footer-widget {
  padding-top: 2em;
    padding-bottom: 2em;
}
.widget-footer__wrapper {
    padding-top: 1.5em;
    border-top: 3px solid var(--border-color);
}
.widget-footer {
    margin-bottom: 1.5em;
    
    & p {
        margin-bottom: 0.5em;
    }
}
.widget-footer__title {
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-bottom: 1.5em;
}

/*widget product*/
.widget-footer__cats {
    padding-right: 1.2em;
}
.widget-footer__cats-list {
    max-height: 180px;
    overflow-y: scroll;
}
.widget-footer__list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.widget-footer__list-item {
    padding: 0 0 6px 0;
    margin: 0;
}
.widget-footer__link {
    color: var(--secondary-text-color);
    
    &:hover {
        color: var(--hovered-link-color);
        text-decoration: none;
    }
}
.widget-contact {
    & p {
        font-size: 1.5rem;
    }
}

.social-icon {
    display: inline-block;
    color: var(--light-text-color);
    text-align: center;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50px;
    margin-right: 8px;
    background: var(--secondary-text-color);
    
    &:hover {
        color: var(--light-text-color);
    }
}
.social-icon__facebook:hover {
    background: var(--fb-color);
}

.social-icon__twitter:hover {
    background: var(--tw-color);
}

.social-icon__gplus:hover {
    background: var(--gplus-color);
}

.social-icon__instagram:hover {
    background: var(--ig-color);
}

.social-icon__telegram:hover {
    background: var(--tw-color);
}
.banks-list {
    padding: 0;
    margin: 0;
    
    & li {
        display: inline-block;
        padding: 0 8px 0 0;
        margin: 0;
    }
}
/*menu footer*/
.menu-footer {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-footer__item {
    padding: 0;
}
.menu-footer__link {
    color: var(--link-color);
    
    &:hover {
        text-decoration: none;
        color: var(--link-color);
    }
}
/*copyright*/
.footer-inner {
    border-bottom: 4px solid var(--border-color);
}
.footer-copyright {
    text-align: center;
    padding-bottom: 1.5em;
}
.footer-credit {
    padding: 1.5em 0;
    border-top: 1px solid var(--border-color);
}
.scroll-top {
    display: block;
    position: fixed;
    bottom: 1em;
    text-align: center;
    color: var(--light-text-color);
    width: 32px;
    height: 32px;
    line-height: 32px;
    right: 2em;
    background: var(--secondary-text-color);
    margin-left: 2em;
    z-index: 199;
    
    &:active {
        color: var(--light-text-color);
    }
    &:hover {
        color: var(--link-color);
    }
}
@media (--only-large-screen) {
    .footer-widget {
        padding: 3em 1.5em 1.5em;
    }
}
@media (--small-screen) {
    .footer-widget {
        padding: 3em 1.5em 1.5em;
    }
}