/* Pagination
/* ---------------------------------------------------------- */

.pagination-wrapper {
    position: relative;
    text-align: center;
    font-weight: 300;
}
.pagination {
    list-style: none;
    padding: 0;
    margin: 0;
}
.pagination-item {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.pagination-link {
    color: var(--light-text-color);
    background: var(--nav-bg);
    padding: 4px 10px;
    margin-right: 2px;
    border: 2px solid var(--nav-bg);
    transition: all .2s ease-out;
    
    &:hover {
        color: var(--light-text-color);
        text-decoration: none;
        background: var(--accent-color);
        border: 2px solid var(--accent-color);
        transition: all .2s ease-out;
    }
}

.pagination-prev,
.pagination-next {
    padding: 6px 12px;
    
    &:hover {
        text-decoration: none;
    }
}
.pagination-prev {
    float: left;
}
.pagination-next {
    float: right;
}