/* Post Footer
/* ---------------------------------------------------------- */

.post-footer__wrapper {
    
}

.more-post {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}
.prev-post,
.next-post {
    font-weight: 500;
    color: var(--secondary-text-color);
    
    &:hover {
        text-decoration: none;
    }
}
.social-share__icon {
    display: inline-block;
    text-align: center;
    color: var(--light-text-color);
    padding: 6px 9px;
    border-radius: 5px;
    margin-right: 8px;
    transition: all .3s ease-in-out;
    
    & span {
        margin-left: 8px;
        margin-right: 2px;
    }

    &:hover {
        color: var(--light-text-color);
        transform: scale(1.06);
        text-decoration: none;
    }
}
.fb-icon {
    background: var(--fb-color);
}
.tw-icon {
    background: var(--tw-color);
}
.gplus-icon {
    background: var(--gplus-color);
}
.wa-icon {
    background: var(--wa-color);
}

/*post navigation*/
.post-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}
.prev-post,
.next-post {
    font-weight: bold;

    &:hover {
        color: var(--hovered-link-color);
    }
}

/*author box*/
.author-box {
    padding: 2em;
    background: var(--body-dark-bg);
}
.author-box__media {
    float: left;

    & img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }
}
.author-box__name {
    text-transform: capitalize;
    margin-bottom: 0.5em;
}
.author-box__link:hover {
    text-decoration: none;
}
.author-box__info {
    padding-left: 104px;
}
.author-box__bio {
    font-size: 1.4rem;
    color: color(var(--secondary-text-color) lightness(60%));
    margin-bottom: 0.5em;
}

@media (--small-screen) {
    .post-footer {
        flex-direction: column;
        padding: 0 1em 1.5em;
    }
    .post-footer-tags {
        margin-bottom: 1.5em;
    }
    .author-card {
        flex-direction: column;
        text-align: center;
    }
    .author-card-profile-image {
        margin: 0 auto 1em;
    }
    .social-profiles-icon:last-child {
        margin-right: 0;
    }
}