/* Post Content
/* ---------------------------------------------------------- */

.breadcrumb {
    padding-top: 1.5em;
}
.breadcrumb-text {
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    padding: 0.5em 1em;
    
    & a:hover {
        text-decoration: none;
        color: var(--hovered-link-color);
    }
}

/*single product*/
.product-detail {
    padding-top: 1.5em;
    margin-bottom: 2em;
}
.product-cover {
    padding-top: 1.25em;
    
    & .slider-for {
        margin-bottom: 1.5em;
    }
    & .slick-slide {
        padding:4px;
        border: 1px solid var(--border-color);
        margin-right:6px;
        margin-left:6px;
    }
    & .slick-dots li button:before {
        content: '';
    }
}
.product-picture,
.product-video {
    text-align: center;
    
    & a {
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        padding: 8px 12px;
        color: var(--light-text-color);
        background: var(--success-color);
        border-radius: 4px;
        
        &:hover {
            color: var(--light-text-color);
            background: #3ab956;
            text-decoration: none;
        }
    }
}
.product-picture {
    padding-top: 3em;
}
.product-video {
    padding-top: 2em;
}
.product-info {
    padding-top: 1em;
}
.product-title {
    font-size: 2.6rem;
    font-weight: 500;
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--border-color);
}
.product-price {
    font-size: 2.2rem;
    font-weight: 500;
}
.product-price--size {
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 0.75em;
}
.product-size__select {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid var(--border-color);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.product-desc {
    margin-bottom: 2em;
    
    & p {
        margin-bottom: 0.75em;
    }
    
    & label {
        display: inline-block;
        width: 68px;
    }
}
.order-button {
    margin-bottom: 1.5em;
    
    & a:hover {
        color: var(--light-text-color);
    }
}
.choose-button {
    font-size: 1.4rem;
    color: color(var(--secondary-text-color) lightness(56%));
    margin: 0 0 2em;
}
.order-wa {
    font-size: 1.4rem;
    margin-bottom: 2em;
}
.wa-button__mobile {
    display: none;
    text-transform: uppercase;
    color: var(--light-text-color);
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 48px;
    line-height: 48px;
    position: fixed;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    z-index: 99;
    
    &:hover {
        color: var(--light-text-color);
        text-decoration: none;
    }
}
.order-note {
    font-size: 1.4rem;
    margin: 2em 0 0;
    
    & span {
        color: #f00;
    }
}
.order-safety {
    display: flex;
    align-items: center;
    background: var(--body-light-bg);
    border: 1px solid var(--border-color);
    padding: 8px 16px;
    margin-bottom: 1.6em;
    
    & span {
        color: #3ab956;
        margin-right: 8px;
    }
    
    & h4,
    & p {
        margin-bottom: 0.25em;
    }
    
    & h4 {
        font-size: 1.5rem;
        font-weight: 400;
    }
    
    & p {
        font-size: 1.3rem;
    }
}
.order-guaranty {
    font-size: 1.5rem;
    
    & h4 {
        color: var(--primary-color);
    }
    
    & b {
        color: var(--primary-color);
    }
}
.order-guaranty__note {
    font-style: italic;
    color: var(--danger-color);
    
    & b {
        color: var(--danger-color);
    }
}
.product-description {
    padding: 0 2em;
    & ul {
        list-style: none;
        font-size: 1.4rem;
        padding: 1.5em 2em 0;
        margin: 0 0 3em 0;
    }
}

//*order form*/
.order-form__wrapper {
    padding: 1em 1.5em;
    margin-bottom: 3em;
    border: 1px solid var(--border-color);
    background: var(--body-light-bg);
}

.order-form__note {
    font-size: 1.4rem;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    padding: 1em 1.5em;
    margin-bottom: 1.5em;

    & p {
        margin: 0;
    }
}

.form-group {
    font-size: 1.5rem;
}

.form-group__label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 500;

    & .publii_must {
        color: #d04e4e;
    }
}

.form-group__input {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid var(--border-color);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-box {
    display: flex;
}

.input-addon,
button.input-addon {
    border: 1px solid grey;
    font-size: 14px;
    height: 34px;
    line-height: 1.428571429;
    cursor: pointer;
    padding: 6px 12px;
    background-color: var(--body-dark-bg);
    border: 1px solid var(--border-color);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-addon--left,
button.remove_qty {
    border-right: 0;
}

.input-addon--right,
button.add_qty {
    border-left: 0;
}

button.remove_qty,
button.add_qty {
    &:hover {
        background: color(var(--body-dark-bg) blackness(15%));
    }

    &:active {
        background: color(var(--body-dark-bg) blackness(20%));
    }
}

.order-info {
    background: var(--main-bg);
    border: 1px solid var(--border-color);
    margin-top: 2em;
}

.order-info__head {
    padding: 0.5em;
    background: var(--border-color);
}

.order-info__title {
    margin: 0;
}

.order-info__body {
    padding: 1.5em;
}

.order-info__box {
    display: flex;
}

.order-info__label {
    position: relative;
    width: 110px;

    &:after {
        content: ":";
        position: absolute;
        right: 0;
    }
}
.order-info__input {
    width: 100%;
}
.order-info__input-detail {
    width: 92%;
}

input.order-info__input-detail {
    color: var(--secondary-text-color);
    border: none;
    background: transparent;
    padding: 0;
    margin-bottom: 1.25em;
}

.order-info__addon,
.order-info__addon-zero {
    margin-left: 1em;
}

.order-info__addon {
    padding-right: 0.5em;
}

.order-info__addon-item,
.order-info__addon-gram,
.order-info__input-title {
    display: inline-block;
    margin-bottom: 1em;
}

.order-info__checkout {
    display: none;
}

.checkout-show {
    display: block;
}
.product-form {
    display: none;
}

/*Confirmation form*/
.confirmation-form {
    background: var(--body-light-bg);
    border: 1px solid var(--border-color);
    padding: 2em 1.5em 4em;
}

.confirmation-detail__box,
.confirmation-detail__tips {
    padding: 1em 1.5em;
    margin-bottom: 1.5em;
    border: 1px solid var(--border-color);

    & p {
        margin: 0;
    }
}

.confirmation-detail__box {
    overflow-x: auto;
    background: var(--body-light-bg);
}

.confirmation-detail__tips {
    background: #dceff1;

    & p {
        font-size: 1.4rem;
        margin-bottom: 1em;
    }
}

.confirmation-step {
    text-align: center;
    padding: 2em 1.5em;
    border: 1px solid var(--border-color);
    transition: all .3s ease-in-out;

    &:hover {
        box-shadow: 0 11px 14px rgba(0, 0, 0, 0.08);
    }
}

.publii-step__icon {
    display: inline-block;
    font-size: 3.8rem;
    color: var(--secondary-text-color);
    width: 80px;
    height: 80px;
    line-height: 80px;
    border: 1px solid var(--border-color);
    border-radius: 50px;
    box-shadow: 5px 4px 12px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 1em;
}
.form-group--full {
    width: 100%;
}

.post-title {
    font-size: 3.2rem;
    margin-bottom: 0.5em;
}
.post-article {
    & .post-meta {
        margin-bottom: 1em;
    }
}
.post-media {
    margin-bottom: 1.5em;
}
.page-ongkir {
    height: 100vh;
}

@media (--only-large-screen) {
    .breadcrumb-wrapper {
        padding: 0 1.5em;
    }
}
@media (--only-medium-screen) {
     .breadcrumb-wrapper {
        padding: 0 1.5em;
    }
}
@media (--small-screen) {
    .product-cover {
        margin-bottom: 3em;
    }
    .product-title {
        font-size: 2.2rem;
    }
    .product-description {
        padding: 0;
    }
    .product-price {
        font-size: 1.7rem;
    }
    .product-price--size {
        font-size: 2.6rem;
    }
    .breadcrumb {
        display: none;
    }
    .post-title {
        font-size: 2.2rem;
    }
    .social-share__icon {
        margin-bottom: 1em;
    }
     .form-group__label {
        width: 140px;
    }
    .form-group__input {
        display: inline-block;
        width: 74%;
    }
    .input-group {
        display: inline-block;
        width: 74%;
    }
    .input-box {
        width: 160px;
    }
    .label-kec,
    input#kec {
        width: 100%;
    }
    select#sizeItem {
        width: 160px;
        margin-bottom: 1em;
    }
    .order-form__note.ongkir-note {
        margin-top: 1em;
    }
    input#kecamatan {
        width: 100%;
    }
}
@media (--extra-small-screen) {
     .form-group__label {
        width: 104px;
    }
    .form-group__input {
        width: 202px;
    }
    .input-group {
        width: 202px;
    }
    .input-box {
        width: 100%;
        
        & .form-group__input {
            width: 100%;
        }
    }
    .label-kec,
    input#kec,
    select#sizeItem {
        width: 100%;
    }
    select#sizeItem {
        margin-bottom: 1em;
    }
    textarea#alamat {
        vertical-align: top;
    }
    .order-info__label {
        width: 110px;
    }
    .order-info__input {
        width: 64%;
    }
    .order-info__input-detail {
        width: 140px;
    }
    .wa-button__mobile {
        display: block;
    }
}