/* Home Posts
/* ---------------------------------------------------------- */
.banner-bg {
    position: relative;
    background-color: var(--body-light-bg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 560px;
    visibility: inherit;
    z-index: 20;
}
.banner-bg__img {
    background-image: url(/images/banner-image-elma.jpg);
    background-position: center center;
}
.banner-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 80%;
    top: 10%;
    left: 2.5em;
    z-index: 99;
    
    & h3,
    & h4 {
        margin-bottom: 0.25em;
    }
    
    & h2 {
        color: var(--lightgrey-text-color);
        font-size: 4.6rem;
        margin-bottom: 0.5em;
    }
    
    & h3 {
        color: var(--lightgrey-text-color);
        font-size: 2.7rem;
        font-weight: 400;
    }
    
    & h4 {
        color: var(--accent-color);
        font-size: 2.2rem;
    }
}
.button-collection {
    text-transform: uppercase;
    color: var(--light-text-color);
    font-weight: 700;
    background: var(--accent-color);
    padding: 8px 18px;
    border-radius: 40px;
    
    &:hover {
        text-decoration: none;
        color: var(--accent-color);
        background: var(--main-bg);
    }
}

/*hj catalog*/
.hj-cat__box,
.hj-cat__box--all {
    position: relative;
}
.hj-cat--all {
    padding-right: 2em;
}
.hj-cat__img {
    overflow: hidden;
    
    & img {
        transition: all 0.2s ease-in;
    }
    
    &:hover img {
        opacity: 0.8;
    transform: scale(1.03,1.05);
    transition-timing-function: ease-out;
    transition-duration: 250ms;
    }
}
.hj-cat__body {
    position: absolute;
    color: var(--light-text-color);
    top: 30%;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.hj-cat__title {
    font-size: 2.2em;
    font-weight: 700;
    color: var(--light-text-color);
    margin-bottom: 0;
}
.hj-cat__desc h4 {
    font-weight: 500;
}
.hj-cat__btn {
    padding-top: 1em;
}
.hj-cat__demo-title {
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--accent-color);
    text-transform: uppercase;
}
.hj-product__new-coll {
    position: relative;
}
.hj-product__new-coll-btn {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    color: var(--light-text-color);
    background: var(--accent-color);
    padding: 6px 12px 6px 16px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    
    &:hover {
        text-decoration: none;
        color: var(--accent-color);
        background: var(--main-bg);
        border: 1px solid var(--accent-color);
    }
}

/*product card*/
.card-grid__head-title {
    text-transform: uppercase;
}
.card-grid {
    position: relative;
    text-align: center;
    margin-bottom: 3em;
}
.card-grid__border {
    border: 1px solid var(--border-color);
    border-bottom: 4px solid var(--border-color);
    border-radius: 3px;
    transition: all .2s ease-out;
    
    &:hover {
        box-shadow: var(--hovered-black-shadow);
        transition: all .2s ease-out;
    }
}
.card-grid__image {
    margin-bottom: 1em;
}
.card-grid__info {
    margin-bottom: 2em;
}
.product-link:hover {
    text-decoration: none;
}
.card-grid__title {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--primary-text-color);
    padding: 0 0.5em;
    margin-bottom: 0.5em;
    
    &:hover {
        color: var(--hovered-link-color);
    }
}
.card-grid__link {
    &:hover {
        text-decoration: none;
    }
}
.card-grid__price {
    font-family: var(--font-heading);
    color: var(--hovered-link-color);
    font-weight: 500;
}
.card-grid__button,
.product-more {
    color: color(var(--secondary-text-color) lightness(44%));
    font-weight: 400;
    padding: 6px 12px;
    border: 1px solid color(var(--secondary-text-color) lightness(66%));
    
    &:hover {
        text-decoration: none;
        color: var(--primary-text-color);
        border: 1px solid color(var(--secondary-text-color) lightness(44%));
    }
}
.product-badge {
    position: absolute;
    font-size: 1.4rem;
    text-transform: capitalize;
    color: var(--light-text-color);
    padding: 2px 14px;
    top: 10px;
    left: 10px;
    border-radius: 20px 50px 50px 20px;
}
.card-list {
    padding-bottom: 2em;
}

/*product terms*/
.product-terms {
    padding-top: 1.5em;
}
.product-terms__nav {
    background: var(--body-light-bg);
    padding: 1em 1.5em;
    border: 1px solid var(--border-color);
    margin-bottom: 2em;
}
.product-terms__link {
    display: inline-block;
    color: var(--light-text-color);
    background: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    padding: 2px 8px;
    margin-right: 0.25em;
    margin-bottom: 0.5em;
    
    &:hover {
        text-decoration: none;
        color: var(--link-color);
        background: var(--main-bg);
        border: 1px solid var(--accent-color);
    }
}
.product-terms__title {
    text-transform: capitalize;
}
.product-terms__title-link {
    &:hover {
        text-decoration: none;
    }
}

.post-content {
    padding: 3.5em 0 3em 2em;
}
.post-feed {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 1em;
}
.post-feed__media {
    padding-top: 6px;
}
.post-feed__header {
    & .post-link {
        &:hover {
            text-decoration: none;
        }
    }
}
.post-feed__title {
    font-size: 1.8rem;
    margin-bottom: 0.5em;
}
.post-meta {
    font-size: 1.4rem;
    margin-bottom: 0.5em;
}

@media (--only-large-screen) {
    .banner-inner {
        padding: 0 1.5em;
        
        & h3 {
            font-size: 2.2rem;
        }
        & h2 {
            font-size: 4.6rem;
        }
        & h4 {
            font-size: 1.8rem;
        }
    }
    .hj-cat__title {
        font-size: 2.6rem;
    }
    .hj-cat__desc h4 {
        font-size: 1.6rem;
    }
    .hj-product__new-coll-btn {
        right: 1.5em;
    }
}
@media (--only-medium-screen) {
    .banner-inner {
        padding: 0 1.5em;
        
        & h3 {
            font-size: 1.8rem;
        }
        & h2 {
            font-size: 3.6rem;
        }
        & h4 {
            font-size: 1.6rem;
        }
    }
    .hj-cat__body {
        padding: 0 1.5em;
    }
    .hj-cat__title {
        font-size: 2.4rem;
    }
    .hj-cat__desc h4 {
        font-size: 1.6rem;
        font-weight: 400;
    }
    .hj-cat__btn {
        padding-top: 1em;
    }
    .hj-product__new-coll-btn {
        right: 1.5em;
    }
    .post-content {
        padding-right: 2em;
    }
}



@media (--medium-screen) {
    .store-carousel {
        padding: 0 1.5em;
    }
    .card-grid__image img {
        width: 100%;
    }
    .widget-product__wrapper {
        padding: 2em 1.5em;
    }
}
@media (--only-small-screen) {
     .banner-inner {
        height: 60%;
        top: 30%;
        
        & h2 {
            font-size: 3.4rem;
        }
        
        & h3 {
            font-size: 1.6rem;
        }
        
        & h4 {
            font-size: 1.5rem;
        }
    }
    .hj-cat__title {
        font-size: 2.4rem;
    }
    .hj-cat__desc h4 {
        font-size: 1.6rem;
    }
}
@media (--small-screen) {
    .banner-bg {
        height: 360px;
    }
    .banner-bg__img {
        background-image: url(/images/banner-image-elma-small.jpg);
    }
    .hj-product__new-coll-btn {
        right: 1.5em;
    }
    .post-content {
        padding-right: 2em;
    }
    .card-grid__title {
        font-size: 1.5rem;
        padding: 0 0.25em;
    }
    .card-grid__info {
        margin-bottom: 0.75em;
    }
    .card-grid__price {
        margin-bottom: 0.75em;
    }
}
@media (--extra-small-screen) {
     .banner-inner {
        height: 60%;
        top: 30%;
        
        & h2 {
            font-size: 2.2rem;
        }
        
        & h3 {
            font-size: 1.6rem;
        }
        
        & h4 {
            font-size: 1.5rem;
        }
    }
    .hj-cat__body {
        top: 42%;
    }
    .hj-cat__title {
        font-size: 2.2rem;
    }
    .hj-cat__desc h4 {
        font-size: 1.6rem;
    }
    .hj-cat__btn {
        padding-top: 1em;
    }
    .hj-product__new-coll {
        padding-bottom: 3em;
    }
    .hj-product__new-coll-btn {
        top: auto;
        bottom: -16px;
        left: 30%;
        right: auto;
    }
}