/* Related Posts
/* ---------------------------------------------------------- */

.related-posts {
    padding: 1em 0;
}
.related-posts__title {
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    
    &:after {
        content: '';
        position: absolute;
        width: 56%;
        height: 2px;
        right: 0;
        top: 14px;
        background: var(--border-color);
    }
}
.related-post {
    lost-column: 1/3;
}
.related-post__media {
    background: var(--body-dark-bg);
}
.related-post__image {
    width: 100%;
    height: 9em;
}
.related-post__link {
    font-family: var(--font-heading);
    
    &:hover {
        text-decoration: none;
    }
}
.related-post__body {
    padding-top: 1em;
}
.related-post__title {
    font-weight: 500;
}

@media (--medium-screen) {
    .related-posts__title:after {
        width: 50%;
    }
    .related-post__media {
        margin-bottom: 1em;
    }
    .related-post__image {
        height: 6em;
    }
}

@media (--small-screen) {
    .related-posts__title:after {
        display: none;
    }
    .related-post {
        width: 100%;
        margin-bottom: 1.5em;
    }
    .related-post__image {
        float: left;
        width: 10em;
        height: 7em;
        margin-right: 1em;
    }
    .related-post__body {
        padding: 0;
    }
    .related-post__title {
        font-size: 1.6rem;
    }
}

@media (--extra-small-screen) {
    .related-post__image {
        width: 8em;
        height: 5em;
    }
}