/* Sidebar Area
/* ---------------------------------------------------------- */

.post-sidebar {
    padding: 3em 2em 3em 0;
}
.sidebar-widget {
    margin-bottom: 3em;
}
.widget-title {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
}

/*Widget Social*/
.widget-social-icons {
    display: flex;
    justify-content: space-around;
}
.widget-social-icon {
    color: var(--light-text-color);
    text-align: center;
    line-height: 36px;
    width: 36px;
    height: 36px;
    background: var(--primary-color);
    border-radius: 50px;
}

/*Widget resent post*/
.widget-title__line {
    position: relative;
    margin-bottom: 1.5em;
}
.widget-title__line:before {
    content: '';
    position: absolute;
    width: 70px;
    top: 36px;
    border-top: 4px solid #e6e4e4;
}
.widget-post {
    min-height: 96px;
    padding-right: 12px;
    
    & img {
        width: 100px;
        height: 72px;
        float: left;
        margin-left: 12px;
        margin-top: 12px;
    }
    
    &:nth-child(odd) {
        background: var(--body-light-bg);
    }
    
    &:nth-child(even) {
        background: var(--body-dark-bg);
    }
}
.widget-post__body {
    padding-left: 124px;
}
.widget-post__title-link {
    
    &:hover {
        text-decoration: none;
    }
}
.widget-post__title {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5em 0;
    margin: 0;
}
/*widget categories*/
.widget-cats__items,
.widget-tags__items {
    list-style: none;
    padding: 0;
    margin: 0;
}
.widget-cats__item,
.widget-tags__item {
    color: color(var(--secondary-text-color) lightness(66%));
    text-transform: capitalize;
    padding: 0.5em 0;
    margin: 0;
    border-bottom: 1px solid var(--border-color);
    
    & a:hover {
        text-decoration: none;
        color: var(--secondary-text-color);
    }
}
.widget-cloud__items {
    list-style: none;
    padding: 0;
    margin: 0;
}
.widget-cloud__item {
    display: inline-block;
    padding: 0;
    margin: 0 0.25em 1em;
}
.cloud-link {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
    
    &:hover {
        text-decoration: none;
    }
}

@media (--only-large-screen) {
    .widget-title__line:before {
        border-top: 0;
    }
}
@media (--medium-screen) {
    .sidebar-area {
        padding: 0 2em;
    }
    .widget-post__title {
        font-size: 1.9rem;
    }
}
@media (--small-screen) {
    .widget-post__title {
        font-size: 1.7rem;
    }
}