body {
    background: var(--body-dark-bg);
}
a {
    color: var(--link-color);
    
    &:hover {
        color: var(--hovered-link-color);
    }
}
.header-bg {
    background: var(--main-bg);
}
.nav-bg {
    background: var(--nav-bg);
}
.footer-widget__bg {
    background: var(--footer-bg);
}
@media (--small-screen) {
    .header-nav,
    .nav-menu {
        background-color: var(--nav-bg);
    }
}