<div class="container banner-wrapper main-bg">
   <div class="clearfix hj-cat">{{ with $.Site.Data.home }} {{ range .banner }}
    <div class="hj-cat__box">
        <div class="hj-cat__img">
            <figure>
                <img class="img" src="{{ .image | relURL }}" alt="banner" width="370" height="370">
            </figure>
        </div>
        <div class="hj-cat__body">
            <header class="hj-cat__head">
                <h2 class="hj-cat__title">{{ .title }}</h2>
            </header>
            <div class="hj-cat__desc">
                <p>{{ .text }}</p>
            </div>
            <div class="hj-cat__btn">
                <a class="button-collection" href="{{ .link }}">Beli Sekarang</a>
            </div>
        </div>
    </div>{{ end }}{{ end }}
</div>
</div>