<header class="site-header header body--dark-bg">
    <div class="heading heading-wrapper container header-bg">
        <div class="clearfix">
            <div class="heading--left">
                <div class="heading-brand">
                    <a class="site-link" href="{{ .Site.BaseURL }}">
                        {{ if $.Site.Params.logo }}
                        <div class="site-logo"><img class="site-img" src="{{ "/" | relURL}}{{ $.Site.Params.logo }}" alt="{{ $.Site.Title }}" width="210" height="52"></div>
                        {{ end }}
                    </a>
                </div>
            </div>
            <div class="heading--right">
                <div class="heading-support">
                    <div class="heading-support__box">
                        <i class="icon-support icon-phone"></i>
                        <div class="heading-text__box">
                            {{ with $.Site.Data.setting.user }}
                            <div class="heading-support__label">{{ .whatsapp }}</div>{{ end }}
                            <div class="heading-support__text">24/7 Support Setiap Waktu</div>
                        </div>
                    </div>
                    <div class="heading-support__box">
                        <i class="icon-support icon-shield"></i>
                        <div class="heading-text__box">
                            <div class="heading-support__label">Garansi Pembeli</div>
                            <div class="heading-support__text">Barang dijamin Asli</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="nav-wrapper container main-bg">
            <div class="nav-main nav-bg">
                <div class="nav-mobile">
                    <a class="nav-toggle" href="#!"><span class="nav-toggle__item"></span></a>
                    <a class="mobile-icon mobile-icon__wa" href="{{ $baseurl := .Site.BaseURL }}/store"><i class="icon-basket"></i></a>
                </div>
                <nav class="nav-menu clearfix">
                    <ul class='nav-menu__item menu'>
                        {{ $currentPage := . }} {{ range .Site.Menus.main }} {{ if .HasChildren }}
                        <li class="{{ if $currentPage.HasMenuCurrent " main " . }}active{{ end }} menu-item">
                            <a class="menu-item__link" href="#">{{ .Name }}<span class='toggle'></span></a>
                            <ul class="submenu menu-dropdown">
                                {{ range .Children }}
                                <li class="{{ if $currentPage.IsMenuCurrent " main " . }}active{{ end }} submenu-item">
                                    <a class="submenu-item__link" href="{{ .URL }}">{{ .Name }}</a>
                                </li>
                                {{ end }}
                            </ul>
                        </li>
                        {{ else }}
                        <li class="menu-item">
                            <a class="menu-item__link" href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                        {{ end }} {{ end }}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>