<div class="post-meta">
    {{ with $.Site.Data.setting.pengguna }}
    <span class="post-author post-meta__item">By <a class="post-author__link" href="/tentang-kami">{{ .username }}</a></span> {{ end }}
    <time class="post-published post-meta__item"> - {{ with .Site.Params.dateFormat }}{{ $.Date.Format . }}{{ else }}{{ .Date.Format "02 January 2006" }}{{ end }}</time>
</div>