<header class="page-list__header">
    <h3 class="page-list__header-title"><span>Artikel Terbaru</span></h3>
</header>
<section class="product-post__wrapper clearfix">
    {{ $recent_articles_num := (.Site.Params.widgets.recent_articles_num | default 3) }}
    {{- range first $recent_articles_num (where .Site.RegularPages "Section" "in" (.Site.Params.postSections | default (slice "post"))) }}
    <article class="product-post col-1-3">
        {{ if .Params.thumbnail }}  
        <div class="product-post__media">
            <figure>
                <img class="product-post__image img" src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
            </figure>
        </div>
        {{ end }}
        <div class="product-post__body">
            <header class="product-post__header">
                <a class="post-link" href="{{ .Permalink }}"><h3 class="product-post__title title-link">{{ .Title }}</h3></a>
            {{partial "post-meta.html" . }}
            </header>   
            <div class="product-post__summary">
                <p class="product-post__excerpt">{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Summary }}{{ end }}</p>
            </div> 
        </div>
    </article>  
    {{ end }}
</section>