    <meta name="robots" content="noodp" />
    <!-- Twitter Card -->
    {{ if .IsPage }} {{ with .Params.thumbnail }}
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="{{ .  | relURL }}" /> {{ else }}
    <meta name="twitter:card" content="summary" /> {{ end }} {{ else }}
    <meta name="twitter:card" content="summary" /> {{ end }}
    <meta name="twitter:title" content="{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }}{{ end }}" />
    <meta name="twitter:description" content="{{ if .IsHome }}{{ $.Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
    <meta name="twitter:site" content="@{{ $.Site.Params.twitterId }}" />
    <meta name="twitter:creator" content="{{ $.Site.Params.author }}" />
    <!-- OG data -->
    <meta property="og:locale" content="id" />
    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
    <meta property="og:title" content="{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }}{{ end }}">
    <meta property="og:description" content="{{ if .IsHome }}{{ $.Site.Params.description }}{{ else }}{{ .Description }}{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:site_name" content="{{ $.Site.Title }}" /> {{ range .Params.categories }}
    <meta property="article:section" content="{{ . }}" />{{ end }} {{ range .Params.tags }}
    <meta property="article:tag" content="{{ . }}" />{{ end }} {{ if isset .Params "date" }}
    <meta property="article:published_time" content="{{ time .Date }}" />{{ end }}