{{ partial "header.html" . }}
<main id="site-main" class="site-main">
    <div class="main-content">
        <div class="content-area">
            <div class="container wrapper-inner main-bg">
                <header class="card-grid__head is-center space--top">
                    <h3 class="card-grid__head-title">Daftar Brand</h3>
                </header>
                <div class="product-terms__nav">
                    {{ range $name, $taxonomy := .Site.Taxonomies.brand }}
                    <a href="#{{ $name | urlize }}" class="product-terms__link">{{ $name }}</a> {{ end }}
                </div>
                <div class="product-terms hj-product__new-coll">
                    {{ range $name, $taxonomy := .Site.Taxonomies.brand }}
                    <header class="product-terms__head">
                        <a class="product-terms__title-link" href="/{{ $name | urlize }}">
                            <h3 id="{{ $name | urlize }}" class="product-terms__title">{{ $name }}</h3>
                        </a>
                    </header>
                    <div class="card-grid__wrapper clearfix">
                        {{ range first 8 $taxonomy }} {{ partial "card-grid.html" . }} {{ end }}
                    </div>
                    <a href="/{{ $name | urlize }}" class="hj-product__new-coll-btn">LIHAT SEMUA <i class="icon-angle-double-right"></i></a>{{ end }}
                </div>
            </div>
        </div>
    </div>
</main>
{{ partial "footer.html" . }}